
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li><a href="www.google.com">Google</a></li>
    <li><a href="www.twitter.com">Twitter</a></li>
    <li><a href="www.facebook.com">Facebook</a></li>
</ul>
